.title--style
    @apply text-gray-900 font-light text-4xl mb-2

.shortDescription--style
    @apply text-gray-600 font-light text-xl

.img-wrapper
    @apply md:w-7/12 flex-none overflow-hidden

.img
    @apply w-full h-auto block

.caption
    @apply md:w-5/12 p-4 flex flex-col leading-normal

.item--positions
    @apply w-full md:max-w-full md:flex

.item
    @apply cursor-pointer

.item--hidden
    opacity: 0
    transform: translateY(20px)

.item--visible
    opacity: 1
    transform: translateY(0)
    transition: opacity 0.55s ease, transform 0.55s ease
